body {
  margin: 0 4px;
  background-color: black;
  color: white;
  border: 1px solid rgb(47, 51, 54);
  font-size: 14px;
}

.wd-search-bar {
  flex: auto;
  display: flex;
  align-items: center;
  padding: 8px 8px;
  background-color: darkgray;
  border-radius: 24px;
  margin-right: 32px;
}

.wd-transparent-bg {
  background-color: transparent;
}

.wd-white-fg {
  color: white;
}

.wd-round-border {
  border-radius: 16px
}

.wd-icon-dimension {
  width: 16px;
  height: 16px;
}

.wd-no-boarder {
  border-style: none;
}

.wd-flex-horizontal {
  display: flex;
  align-items: center;
  overflow-x: auto;
}

.wd-flex-vertical {
  display: flex;
  flex-direction: column;
}

.wd-padding-left-12 {
  padding-left: 12px;
}

.wd-padding-left-16 {
  padding-left: 16px;
}

.wd-padding-right-12 {
  padding-right: 12px;
}

.wd-padding-right-16 {
  padding-right: 16px;
}

.wd-padding-16 {
  padding: 16px;
}

.wd-padding-top-8 {
  padding-top: 8px;
}

.wd-padding-bottom-8 {
  padding-bottom: 8px;
}

.wd-space-filler {
  flex: auto;
}

.wd-bottom-border-thin {
  border-bottom-width: thin;
  border-bottom-style: solid;
}

.wd-bottom-border-thick {
  border-bottom-width: thick;
  border-bottom-style: solid;
}

.wd-border-primary-color {
  border-color: rgb(47, 51, 54);
}

.wd-tab-button {
  text-decoration: none;
  padding: 16px;
  font-weight: bold;
  font-size: 15px;
  color: rgb(110, 118, 125);
}

.wd-tab-button-active {
  border-bottom: 2px solid rgb(29, 161, 242);
  color: rgb(29, 161, 242);
  padding: 16px 0;
  margin: 0 16px;
}

.wd-topic-label {
  color: rgb(110, 118, 125);
  font-size: 13px;
  padding: 0;
  margin: 0;
}

.wd-title-label {
  color: white;
  font-size: 13px;
  font-weight: bold;
  padding: 4px 0;
  margin: 0;
}

.wd-tuit-count-label {
  color: rgb(110, 118, 125);
  font-size: 13px;
  padding: 0;
  margin: 0;
}

.wd-author-label {
  color: white;
  font-weight: bold;
  padding: 0 4px;
}

.wd-author-pic-label {
  border-radius: 6px;
  width: 12px;
  height: 12px;
}

.wd-post-block-pic {
  width: 100px;
  border-radius: 8px;
}

.wd-post-block {
  display: flex;
  padding: 12px 16px;
  border-bottom-width: thin;
  border-bottom-style: solid;
  border-color: rgb(47, 51, 54);
}
