/* Tuiter - Required for fixing image dimension */
.wd-post-img {
  width: 87px;
  border-radius: 14px;
}

.wd-user-image {
  width: 48px;
  height: 48px;
  border-radius: 24px;
}

/* Challenge - Override Bootstrap Section */
/* Comment code below to show Tuiter section */
body {
  background-color: black;
}

.list-group-item-action.override-bs {
  color: white;
  background-color: black;
  border-width: 0;
}

.list-group-item-action.active.override-bs {
  color: white;
  background-color: black;
  border-width: 0;
  font-weight: bolder;
}

.form-control.override-bs {
  background-color: rgb(33, 35, 39);
  border-width: 0;
}

.fa-magnifying-glass.override-bs {
  color: rgb(110, 118, 125);
}

.fa-stack-1x.override-bs {
  color: black;
}

.search-bar button .text-primary {
  color: white !important;
}

.search-bar input {
  color: white;
}

.search-bar input:focus {
  color: white;
}

.nav-tabs.override-bs {
  border-width: 0;
}

.nav-tabs .nav-link.override-bs {
  color: rgb(110, 118, 125);
}

.nav-tabs .nav-link.active.override-bs {
  border: 0;
  border-bottom: 4px solid rgb(29, 161, 242);
  background-color: black;
  color: white;
}

#navigation-tab.override-bs {
  margin-bottom: 0 !important;
}

.main-content {
  border-left: 1px solid rgb(47, 51, 54);
  border-right: 1px solid rgb(47, 51, 54);
}

.main-content li.list-group-item.override-bs {
  background-color: black;
  color: white;
}

.main-content li.list-group-item.override-bs .fa-inverse {
  color: black !important;
}

img.content {
  border-top: 1px solid rgb(47, 51, 54);
  border-bottom: 1px solid rgb(47, 51, 54);
}

.search-bar {
  padding: 0 1rem;
}

#link-to-others li.list-group-item.override-bs {
  background-color: rgb(22, 24, 28);
  color: white !important;
}

#link-to-others li.list-group-item.override-bs .fa-inverse {
  color: black !important;
}

.wd-secondary-text {
  color: rgb(110, 118, 125);
}

#link-to-others button.btn-primary {
  color: black !important;
  font-weight: bold;
  background-color: white !important;
  border-width: 0;
}
